.input-field > label {
  color: #e57373;
  font-family: 'Caveat', cursive;
  font-size: 1.25rem;
}
.input-field input[type='text']:focus {
  border-bottom: 1px #e57373 !important;
  box-shadow: 0 1px 0 0 #e57373 !important;
}

.input-field input[type='email']:focus {
  border-bottom: 1px #e57373 !important;
  box-shadow: 0 1px 0 0 #e57373 !important;
}

.input-field input[type='password']:focus {
  border-bottom: 1px #e57373 !important;
  box-shadow: 0 1px 0 0 #e57373 !important;
}

.input-field textarea:focus {
  border-bottom: 1px #e57373 !important;
  box-shadow: 0 1px 0 0 #e57373 !important;
}

.dropdown-content li > span {
  font-size: 22px;
  color: #e57373;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
  font-family: 'Caveat', cursive;
}
.select-wrapper input.select-dropdown {
  font-family: 'Caveat', cursive;
  font-size: 1.25rem;
  color: #e57373;
}
.card .card-title {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  font-weight: 300;
}
.circle-clipper .circle {
  border-color: #e57373;
}
.custom-container {
  width: 90%;
  margin-left: 5%;
}
#card-reveal {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 12px;
  overflow-y: scroll;
}

.fa-times:before {
  position: absolute;
  top: 30px;
  right: 15px;
}

.reveal-data .input-field input[type='text'] {
  border-bottom: 1px white !important;
  box-shadow: 0 1px 0 0 white !important;
  color: white;
}
.card-reveal .card-content {
  margin-top: 30px;
}
